.c-reviews {
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
  padding: 15px 15px 25px;
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .c-date {
    // font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    color: #192E20;
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
  }

  .star-rating {
    margin-bottom: 15px;
  }

  .u-h6 {
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: none;
    display: block;
  }

  p {
    font-size: 13px;
    line-height: 160%;
    flex: 1 1 auto;
  }

  &__user {
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 1px;
      background-color: #ddd;
    }

    &-img {
      margin-right: 15px;
      border-radius: 50%;
      overflow: hidden;
      width: 35px;
      height: 35px;
      min-width: 35px;
      background-color: #f3eeee;
      color: #403f3f;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 35px;
      }
    }
    &-meta {
      min-width: 0;
    }
    &-name {
      // font-family: Graphik LCG;
      font-weight: bold;
      font-size: 12px;
      line-height: 140%;
    }
  }

  &__answer {
    padding-top: 16px;
    margin-top: 32px;
    border-top: 1px solid #E0E0E0;
  }

  &__product {
    &-img {
      
    }
  }
}
